@import 'variables';

/* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */
$x-small: 480px;
$small: 600px;
$tablet: 820px;
$medium: 1024px;
$large: 1440px;

@mixin button () {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem $button-raised-shadow-color;
  border: none;
  padding: 0.8rem 4.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  min-height: 3.6rem;
  background-color: transparent;
  transition: all 0.4s ease;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: default;
  }
}

@mixin button-raised () {
  @include button();

  width: 100%;
  border-radius: 1.5rem;
  height: 5.2rem;
  background-color: $button-raised-bg-color;
  color: $button-raised-color;

  &:active {
    box-shadow: 0 0 1rem $button-raised-shadow-color;
  }

  &:hover {
    background-color: transparent;
  }

  &[disabled] {
    box-shadow: none;
    background-color: $button-raised-disabled;
    color: $button-raised-disabled-color;
    cursor: not-allowed;
  }
}

